<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 40px; font-size: 30px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final Lab - Introduction To Data Science @ FIT-HCMUS, VNU-HCM
</div>

<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 30px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Data exploring
</div>

## 1. Import

In [35]:
import numpy as np
import pandas as pd

## 2. Exploring data

### Read raw data from file

In [36]:
raw_tft_df = pd.read_csv('../data/raw/Group25_TFT.csv')
raw_tft_df.head()

,Riot Games Name,Riot Games Tag Line,Summoner Level,Summoner Id,Summoner Name,Summoner Points,Summoner Rank,Summoner Wins,Summoner Losses,Is Veteran?,Is Inactive?,Is Fresh Blood?,Is Hot Streak?,Summoner Tier
0,Victorious,HLG,762,rY978LAxHRRBj8Y7Bf_QEMXiQZ8trR2GJW-NS9Rpsk72azA-G98u9vIghg,HLG Victorious,602,I,122,87,False,False,True,False,Challenger
1,mikej,VN2,221,5zFlRLcJb7MgSFht8_a2c9XPSEU1_WKJsLLSdBcZdqtMs5v9q97oL9GYhQ,mikej,703,I,231,185,False,False,True,False,Challenger
2,Duy Pingboda,9999,27,cePM-S7ZzR-HtHClRmVaw46tVSyXImYZ8t0JgeK04ulxOZ-SfpebnlqREw,H2B DoubleA,704,I,122,83,False,False,True,False,Challenger
3,Top1GamingTopTop,6789,1,lKv7DpczM6V21FMjCfbwVzaDFkPu-v27vPfb6o4hBAQna28AcToJPzs5gQ,TikTokTop1Gaming,613,I,115,81,False,False,True,False,Challenger
4,kobisao,VN2,380,TVO29WY8nCcAW0d6fFQR8ANek9PPxvGQmy9CRtrFjamTk0DJb1KRy7mnIg,kobisao,540,I,82,45,False,False,True,False,Challenger

### Remove the column with unknown meaning

Currently, we do not have sufficient information on the `Is Fresh Blood?` attribute in this dataset. Therefore, we will temporarily remove it until we understand its meaning.

In [37]:
raw_tft_df = raw_tft_df.drop(columns=['Is Fresh Blood?'])

### Remove unimportant columns

In this data set, we can remove the attribute `Summoner Name` since they are quite similar to `Summoner Riot Games Name`. Additionally, it is not worth discovering `Summoner Id` and `Summoner Rank`.

In [38]:
raw_tft_df[['Riot Games Name', 'Summoner Name']].head(10)

    Riot Games Name     Summoner Name
0        Victorious    HLG Victorious
1             mikej             mikej
2      Duy Pingboda       H2B DoubleA
3  Top1GamingTopTop  TikTokTop1Gaming
4           kobisao           kobisao
5          Tôn Hiền          Tôn Hiền
6    Better version  Better version08
7      ThomasK21700               NaN
8         Vô Ám Giả         Vô Ám Giå
9          HP AnhTu       T1 AnhTu HP

In [39]:
raw_tft_df['Summoner Id'].head(10)

0    rY978LAxHRRBj8Y7Bf_QEMXiQZ8trR2GJW-NS9Rpsk72azA-G98u9vIghg
1    5zFlRLcJb7MgSFht8_a2c9XPSEU1_WKJsLLSdBcZdqtMs5v9q97oL9GYhQ
2    cePM-S7ZzR-HtHClRmVaw46tVSyXImYZ8t0JgeK04ulxOZ-SfpebnlqREw
3    lKv7DpczM6V21FMjCfbwVzaDFkPu-v27vPfb6o4hBAQna28AcToJPzs5gQ
4    TVO29WY8nCcAW0d6fFQR8ANek9PPxvGQmy9CRtrFjamTk0DJb1KRy7mnIg
5    V6QpZgyHIqjVIs75_T4Dt_Lz_fekOhQtsx5kwix4b8ZhPsmvuh_GvicdeA
6    oWai27K_N0ADtH0wND1NcaVaSusuNjHQicxJiiGtrR2XJ19IDonnuv0_vQ
7    ejcBGJM9sm_VHMhDCNRsqlGUAcQLGDdBlKWYT089a3PxgvxYhDgpdvcrZg
8    fka_OYewvQkYADYFIMoL0woQ4Y-jANSXAc2MC_Aunm9ARiWeE0AlBFsZ3Q
9    zysYNkg2pptETBt-FxHGiOkLzwZjtmBZEWpS2FYQw1MVU023_ODoa9DLLg
Name: Summoner Id, dtype: object

In [40]:
raw_tft_df['Summoner Rank'].value_counts()

Summoner Rank
I    1350
Name: count, dtype: int64

In [41]:
raw_tft_df = raw_tft_df.drop(columns=['Summoner Id', 'Summoner Name', 'Summoner Rank'])
raw_tft_df.head()

,Riot Games Name,Riot Games Tag Line,Summoner Level,Summoner Points,Summoner Wins,Summoner Losses,Is Veteran?,Is Inactive?,Is Hot Streak?,Summoner Tier
0,Victorious,HLG,762,602,122,87,False,False,False,Challenger
1,mikej,VN2,221,703,231,185,False,False,False,Challenger
2,Duy Pingboda,9999,27,704,122,83,False,False,False,Challenger
3,Top1GamingTopTop,6789,1,613,115,81,False,False,False,Challenger
4,kobisao,VN2,380,540,82,45,False,False,False,Challenger

### Calculate the number of rows and columns

In [42]:
num_rows, num_cols = raw_tft_df.shape
print(f'Number of rows: {num_rows}\nNumber of columns: {num_cols}')

Number of rows: 1350
Number of columns: 10

### Calculate the duplicate rows

In [43]:
num_duplicated_rows = raw_tft_df.duplicated().sum()
print(f'Number of duplicated rows: {num_duplicated_rows}')

Number of duplicated rows: 0

### The meaning of each line

The following data pertains to players ranked as Grandmaster and Challenger in TFT games. Each line in this data set corresponds to information about an account in the TFT game, including attributes such as Riot games account name, account level, account score, number of wins, number of losses, player experience, activity status, is in streak, fresh blood, account rank.

### The meaning of each column

| Name | Meaning |
|---|---|
| Summoner Riot Games Name | Riot Games account name |
| Summoner Riot Games Tag Line | A hashtag that consists of three-to-five letters or numbers. |
| Summoner Level | Account level |
| Summoner Points | Ranked point |
| Summoner Win | Number of wins |
| Summoner Lossed | Number of defeats |
| Is Veteran? | Has this account been playing for a long time? |
| Is inactive? | Is this account inactive? |
| Is Hot Streak | Is this account on a streak? |
| Summoner Tier | Account's ranking tier |

### Data type of each column

In [44]:
dtypes = raw_tft_df.dtypes
dtypes

Riot Games Name        object
Riot Games Tag Line    object
Summoner Level          int64
Summoner Points         int64
Summoner Wins           int64
Summoner Losses         int64
Is Veteran?              bool
Is Inactive?             bool
Is Hot Streak?           bool
Summoner Tier          object
dtype: object

- Regarding data type, the properties of this data set are in the appropriate format.

### Find the missing values of each column

In [45]:
missing_ratio = (raw_tft_df.isna().sum() / num_rows) * 100
missing_ratio

Riot Games Name        0.0
Riot Games Tag Line    0.0
Summoner Level         0.0
Summoner Points        0.0
Summoner Wins          0.0
Summoner Losses        0.0
Is Veteran?            0.0
Is Inactive?           0.0
Is Hot Streak?         0.0
Summoner Tier          0.0
dtype: float64

- There are no missing values in this data set.

### Observe how values are distributed in each column with numeric data type

For columns with numeric data type, we will calculate:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile 
- The median
- The upper quartile
- The max

The results will be saved to a DataFrame `num_col_info_df`.

In [46]:
numeric_cols = raw_tft_df.select_dtypes(include=[np.number]).columns
titles = ["missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"]

data = {}
for col in numeric_cols:
    missing_ratio = (raw_tft_df[col].isnull().sum() / len(raw_tft_df)) * 100
    min_val = raw_tft_df[col].min()
    lower_quartile = raw_tft_df[col].quantile(0.25)
    median = raw_tft_df[col].median()
    upper_quartile = raw_tft_df[col].quantile(0.75)
    max_val = raw_tft_df[col].max()
    
    data[col] = [missing_ratio, min_val, lower_quartile, median, upper_quartile, max_val]

data['Titles'] = titles
num_col_info_df = pd.DataFrame(data).set_index('Titles')
num_col_info_df

,Summoner Level,Summoner Points,Summoner Wins,Summoner Losses
Titles,,,,
missing_ratio,0.00,0.0,0.0,0.0
min,1.00,214.0,45.0,11.0
lower_quartile,56.00,293.0,115.0,81.0
median,242.50,396.0,143.0,111.0
upper_quartile,426.75,554.0,183.0,146.0
max,1191.00,1806.0,350.0,310.0

### Observe how values are distributed in each column with non-numeric data type

For columns with non-numeric data type, we will calculate:
- Number of missing values.
- Number of different values (not considering missing values).
- Number of each value is sorted by decreasing (missing values are not considered): use a dictionary to store, key is the value, value is the number of value.

The results will be saved to a DataFrame `cat_col_info_df`.

In [47]:
pd.set_option('display.max_colwidth', 300)
pd.set_option('display.max_columns', None)

categorical_df = raw_tft_df.select_dtypes(include=['object', 'bool'])
col_names = categorical_df.columns
titles = ["missing_ratio", "num_values", "value_ratios"]
values_list = []

for col in col_names:
    size = len(categorical_df)
    missing_ratio = categorical_df[col].isnull().sum()
    num_values = categorical_df[col].nunique()
    value_nums = categorical_df[col].value_counts().to_dict()
    value_nums = {k: v for k, v in sorted(value_nums.items(), key=lambda item: item[1], reverse=True)}
    values_list.append([missing_ratio, num_values, value_nums])

data = {col_names[i]: values_list[i] for i in range(len(col_names))}
data['Titles'] = titles
cat_col_info_df = pd.DataFrame(data).set_index('Titles')
cat_col_info_df

,Riot Games Name,Riot Games Tag Line,Is Veteran?,Is Inactive?,Is Hot Streak?,Summoner Tier
Titles,,,,,,
missing_ratio,0,0,0,0,0,0
num_values,1346,808,2,1,2,2
value_ratios,"{'Bae Suzy': 2, 'Choncc': 2, 'Furina': 2, 'anhquan': 2, 'Victorious': 1, '16 dần dơ': 1, 'Cho XIn Tý Huyết': 1, 'XLR8': 1, 'vlogg': 1, 'ĐứcĐức': 1, 'Bé Bờm VN': 1, 'CoolParker': 1, 'crow': 1, 'L 03 10 04 NT': 1, 'PTM Crown': 1, 'Minh0111': 1, 'njhanniiii': 1, 'Lee Chunn': 1, 'anh da on hon': 1, ...","{'VN2': 299, '12345': 11, '1999': 9, '9999': 9, '2000': 9, '123': 8, '2003': 8, '1998': 8, '2001': 7, '2002': 7, '1234': 7, '2004': 7, '666': 6, '1997': 6, '6789': 6, '88888': 5, '999': 5, '1102': 4, 'VN3': 4, '99999': 4, 'VNM': 4, '8888': 4, '1811': 4, '1809': 4, '1412': 4, 'VN1': 4, '0910': 4,...","{False: 1267, True: 83}",{False: 1350},"{False: 989, True: 361}","{'Grandmaster': 900, 'Challenger': 450}"

## 3. Save the processed data

In [48]:
save_name = 'Group25_TFT_processed.csv'
raw_tft_df.to_csv(f'../data/processed/{save_name}', index=False)